.titulo{
    text-align: center;
    font-family: Arial, sans-serif;
}


.rosa{

    font-family: sans-serif;
    background-color: white ;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 1px 1px 1px #cbc9c9;
    
}

.aspas {
    position: relative;
    padding: 20px;
}

.aspas i {
    font-size: 30px; 
    color: #000000; 
    position: absolute;
    top: 10px; 
    right:10px; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
}

.botao-lateral {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #db4f66;
    color: white;
    border: none;
    width: 20px;
    height: 130px;
    padding: 25px;
    cursor: pointer;
    font-size: 25px;
}

.botao-esquerdo {
    left: -50px;
}

.botao-direito {
    right: -50px; 
}

.conteudo {
    padding: 20px;
    margin-top:-70px;
    font-family: size,sans-serif;
}

h2{
    color: #db4f66;
}

p {
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
}

.subtitulo {
    color: #cbc9c9;
    font-size: 14px;
    margin-top:-20px;
}